[Desktop Entry]
Icon=application-pdf
Name=econometrics_pelican.pdf
Type=Link
URL[$e]=file://$HOME/Econometrics/econometrics_pelican.pdf
X-KDE-LastOpenedWith=okularapplication_pdf
