[Desktop Entry]
Icon=application-pdf
Name=econometrics.pdf
Type=Link
URL[$e]=file://$HOME/Econometrics/econometrics.pdf
X-KDE-LastOpenedWith=okularapplication_pdf
