[Desktop Entry]
Icon=text-x-matlab
Name=Klein2SLS.m
Type=Link
URL[$e]=file://$HOME/Econometrics/Examples/Simeq/Klein2SLS.m
X-KDE-LastOpenedWith=octave
