[Desktop Entry]
Icon=text-x-objcsrc
Name=NerloveRestrictions.m
Type=Link
URL[$e]=file://$HOME/Econometrics/Examples/Restrictions/NerloveRestrictions.m
X-KDE-LastOpenedWith=kwrite
